@use '../base/_colors'

.container
    border: 2px solid colors.$container-border
    border-radius: 20px
    min-width: 340px
    width: 400px
    min-height: 350px
    height: auto
    padding: 1rem
    color: colors.$font-color

    h1
        margin-left: 0.5rem
        padding: 0.3rem

    .form
        display: flex
        justify-content: space-between
        height: 40px
        align-items: center
        padding: 0.3rem

        input
            width: 72%
            height: 28px
            border-radius: 5px
            border: none
            text-align: center
