@use './_colors'

body
    height: 100vh
    width: 100vw
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-image: url(src/assets/banner.jpg)
    overflow-x: hidden
    font-family: 'Inter', sans-serif
