@use './_colors'
@use '../modules/_mixins'

body
    font-family: 'Lato', sans-serif
    background-color: colors.$body
    @include mixins.mobile()
        display: flex
        justify-content: center

    @include mixins.desktop()
        display: flex
        justify-content: center
